<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/script.js"></script>
</body>
<div class="container text-center my-3">

    <p class="rounded p-1 text-secondary" >19BCP081 - 19BCP105 - 19BCP099</p>

</div>
</html>